# Ignore downloaded video files
/src/videos/*.mp4

# Ignore the generated JSON file, but keep the data directory
/src/data/videos.json

# Ignore executables
*.exe

# Ignore OS-specific files
.DS_Store
src/.DS_Store
node_modules
src/videos
test-results
logs
src/data/queue_data.json
